<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Registration Confirmation</title>
  <style>
    /* Add your custom styles here */
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }
    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    .header {
      background-image: url("https://www.shutterstock.com/shutterstock/videos/1097217079/thumb/1.jpg?ip=x480");
      color: #fff;
      text-align: center;
      padding: 20px 0;
      border-radius: 8px 8px 0 0;
    }
    .content {
      padding: 20px;
    }
    .footer {
      background-color: #f4f4f4;
      padding: 10px 0;
      text-align: center;
      border-radius: 0 0 8px 8px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>Registration Confirmation</h1>
    </div>
    <div class="content">
      <h3>Dear {{userName}},</h3>
      <h4>
        Thank you for registering on our site. We are excited to have you as part of our community!
      </h4>
      <h4>Below are your registration details:</h4>
      <ul>
        <li><strong>Name:</strong> {{userName}}</li>
        <li><strong>Email:</strong> {{userEmail}}</li>
        <li><strong>Admission Year:</strong> {{admYear}}</li>
        <li><strong>Batch:</strong> {{batch}}</li>
        <li><strong>Gender:</strong> {{gender}}</li>
        <li><strong>Ph:</strong> {{ph}}</li>
        <li><strong>Roll Number:</strong> {{rollNumber}}</li>
      </ul>
      <div>
        <h4>Next Steps</h4>
        <p>
          Now that you have registered, you can explore our website, participate in events, and enjoy the benefits of being a member.
        </p>
        <p>
          If you have any questions or need further assistance, please feel free to contact us at eventsatucek@gmail.com.
        </p>
        <p>
          Best regards,<br />
          The Events@UCEK Team
        </p>
      </div>
    </div>
    <div class="footer">
      <p>
        This email was sent to {{userEmail}}. If you believe you received this email by mistake, please contact us.
      </p>
    </div>
  </div>
</body>
</html>
